<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Liste des Thèmes</title>
</head>
<body>
  <h1>Liste des Thèmes</h1>

  <ul>
    <% themes.forEach(theme => { %>
      <li>
        <a href="/client/themes/<%= theme._id %>/cursus"><%= theme.title %></a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
