<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>AListe des thèmes</title>
  <link rel="stylesheet" href="/css/client.css">
  <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<body>
  <!-- Navbar -->
  <nav>
    <ul>
      <li><a href="/">Accueil</a></li>

      <% if (!session.user) { %>
        <li><a href="/auth/register">S'inscrire</a></li>
        <li><a href="/auth/login">Se connecter</a></li>
      <% } else { %>
        <li><a href="/client/themes">Thèmes</a></li>
        <li><a href="/client/certifications">Mes certifications</a></li>

        <% if (session.user.role === 'admin') { %>
          <li><a href="/admin/dashboard">Dashboard</a></li>
        <% } %>

      <% } %>
    </ul>
  </nav>
  
  <!-- List of themes -->
  <h1>Liste des Thèmes</h1>

  <ul>
    <% themes.forEach(theme => { %>
      <li>
        <a href="/client/themes/<%= theme._id %>/cursus"><%= theme.title %></a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
