<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Knowledge Learning</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Bienvenue sur Knowledge Learning</h1>
  <p>La plateforme e-learning des passionnés !</p>
</body>
</html>
