<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Inscription réussie</title>
  <!-- Redirecto to /auth/login -->
  <meta http-equiv="refresh" content="30;url=/auth/login" />
</head>
<body>
  <!--  Navbar -->
  <nav>
    <ul>
      <li><a href="/">Accueil</a></li>

      <% if (!session.user) { %>
        <li><a href="/auth/register">S'inscrire</a></li>
        <li><a href="/auth/login">Se connecter</a></li>
      <% } else { %>
        <li><a href="/client/themes">Thèmes</a></li>
        <li><a href="/client/certifications">Mes certifications</a></li>

        <% if (session.user.role === 'admin') { %>
          <li><a href="/admin/dashboard">Dashboard</a></li>
        <% } %>

        <li>
          <form method="POST" action="/auth/logout" style="display:inline;">
            <button>Déconnexion</button>
          </form>
        </li>
      <% } %>
    </ul>
  </nav>

  <!--  Succès -->
  <h1>Bienvenue sur Knowledge Learning !</h1>
  <p>Votre compte a bien été créé, vous allez recevoir un mail de confirmation pour valider votre inscription</p>
  <p>Vous serez redirigé·e vers la page de connexion dans 30 secondes...</p>
  
  <p><a href="/auth/login">Connexion immédiate</a></p>
</body>
</html>
